<template>
  <div class="justify-center q-pa-md mt-5 ">
    <q-card flat="">
      <q-card-section
        class="text-center"
        :class="$q.screen.lt.sm?'text-h5':'text-h4'"
      >Forgetpassword</q-card-section>
      
      <q-card-section>
        <q-input
          class="mb-3"
          outlined
          autofocus
          lazy-rules
          v-model.trim="email"
          label="Enter your Email Address"
          name
        ></q-input>
        <q-btn label="SEND" unelevated no-caps class="full-width q-mt-md" color="primary" />
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  }
};
</script>