<template>
  <q-page-container>
    <div class="justify-center q-pa-md">
      <div class="row justify-center">
        <div class="col-xs-12 col-sm-8 col-md-12">
          <q-card :flat="$q.screen.lt.sm" class="transparent">
            <div class="mb-5">
              <div class="text-h3">Welcome</div>Signin to continue
            </div>
            <br />
            <!-- <center>
            <q-icon name="mdi-account" color="grey" size="150px" />
            </center>-->
            <q-input
              class="mb-3"
              outlined
              autofocus
              lazy-rules
              filled
              v-model.trim="identifier"
              label="Identifier"
              name
            ></q-input>
            <br />
            <q-input outlined lazy-rules filled v-model.trim="password" label="Password"></q-input>

            <div class="q-gutter-md text-center q-pa-md">
              <q-btn
                label="don't have an account?"
                :to="{ name: 'signup' }"
                class="text-capitalize q-mt-md"
                color="primary"
                flat
              />
              <br />
              <q-btn
                :loading="loading"
                label="Login"
                @click="loginUser"
                icon="mdi-arrow-right"
                class="full-width q-mt-md"
                color="primary"
                rounded
              />
              <br />
              <q-btn
                label="Forgot password?"
                :to="{ name: 'forgotpass'} "
                class="text-capitalize q-mt-md"
                color="primary"
                flat
              />
            </div>
          </q-card>
        </div>
      </div>
    </div>
  </q-page-container>
</template>
<script>
import { loginUser } from "../../graphql/mutation";
export default {
  // if the user is already loggedin go back to the homepage
  beforeRouteEnter(to, from, next) {
    if (typeof cookie.get("jwt") == "undefined") {
      next();
    } else {
      location.href = "/#/";
    }
    // ...
  },
  data() {
    return {
      loading: false,
      identifier: "navicstein@gmail.com",
      password: "rotcivx"
    };
  },
  methods: {
    loginUser() {
      this.$apollo
        .mutate({
          mutation: loginUser,
          variables: {
            identifier: this.identifier,
            password: this.password
          }
        })
        .then(({ data }) => {
          this.$cookie.set("jwt", data.login.jwt);
          this.$cookie.set("userId", data.login.user.id);
          this.$router.push("/profile");
        })
        .catch(({ message }) => {
          if (message.includes("400")) {
            this.$q.notify({
              color: "red",
              message: "Invalid username or password"
            });
          } else {
            this.$q.notify({
              color: "red",
              message: "You're simply not connected to an internet source"
            });
          }
          console.log(message);
        });
    }
  }
};
</script>