<template>
  <div class="text-center mt-12">
    <q-spinner-gears color="primary" size="3rem" :thickness="5" />
    <h6>Loggin out...</h6>
  </div>
</template>

<script>
export default {
  mounted() {
    if ("localStorage" in window) {
      Object.keys(this.$cookie.getJSON()).forEach(cookie =>
        this.$cookie.remove(cookie)
      );
      localStorage.clear();
      setTimeout(() => {
        this.$router.push("/");
      }, 2000);
    }
  }
};
</script>