<template>
  <q-page-container>
    <div class="justify-center">
      <div class="q-pa-md">
        <!-- <q-form v-model="valid" class="q-gutter-md"> -->
        <div class="row justify-center">
          <div class="col-xs-12 self-center items-center col-sm-8 col-md-4">
            <!-- <q-icon
          size="100px"
          class="centered form-icon-weight q-pb-xl text-primary"
          name="mdi-account-circle-outline"
            ></q-icon>-->
            <!-- <p class="text-center text-h4 text-font-weight-light account-form">Unecem</p> -->

            <div class="mb-5">
              <div class="text-h3">Welcome</div>Welcome to the future of Savings & Investments
            </div>
            <br />

            <!-- <center>
          <q-icon name="mdi-account-plus" size="00px"></q-icon>
            </center>-->

            <q-form v-model="valid">
              <div>
                <q-input
                  filled
                  autofocus
                  :rules="requiredRules"
                  v-model.trim="fullname"
                  label="Full name"
                  name
                ></q-input>
                <q-input
                  class="mb-3"
                  filled
                  :rules="requiredRules"
                  v-model.trim="emailAddress"
                  label="Email Address"
                  name
                ></q-input>
                <q-input
                  class="mb-3"
                  filled
                  :rules="requiredRules"
                  v-model.trim="username"
                  label="Username"
                  name
                ></q-input>

                <q-input
                  class="mb-3"
                  filled
                  :rules="requiredRules"
                  v-model.trim="phone"
                  label="Phone Number"
                  name
                ></q-input>

                <q-input filled :rules="requiredRules" v-model.trim="password" label="Password"></q-input>

                <q-input
                  filled
                  hint="enter the referal code from your wallet or the person that refered you tho use this app"
                  v-model.trim="refCode"
                  label="Referal Code or promo code"
                ></q-input>
                <br />

                <q-separator />
                <br />

                <q-select
                  v-model="referralSource"
                  :options="referralOptions"
                  hint="This field is optional"
                  label="How did you hear about us?"
                  filled
                />
                <br />
                <small>
                  Signin up means that you're comfortable with our
                  <router-link to="/terms" class="text-blue-5">terms of service and privacy policy</router-link>
                </small>

                <q-btn
                  label="Create An Account"
                  unelevated
                  @click="signup"
                  icon="mdi-arrow-right"
                  rounded
                  :disable="!valid"
                  no-caps
                  class="full-width q-mt-md"
                  color="primary"
                />
              </div>
              <q-btn
                label="Already have an account?"
                :to="{ name: 'login'} "
                class="text-capitalize q-mt-md"
                color="primary"
                flat
              />
            </q-form>
            <br />
          </div>
        </div>
      </div>
    </div>
  </q-page-container>
</template>
<script>
import { createUser } from "../../graphql/mutation";
export default {
  // if the user is already loggedin go back to the homepage
  beforeRouteEnter(to, from, next) {
    if (typeof cookie.get("jwt") == "undefined") {
      next();
    } else {
      location.href = "/#/";
    }
    // ...
  },

  data() {
    return {
      valid: false,
      fullname: "",
      emailAddress: "",
      phone: "",
      username: "",
      password: "",
      refCode: "",
      referralSource: "",

      referralOptions: [
        { label: "Facebook", value: "fb" },
        { label: "Twitter", value: "tw" },
        { label: "F&F", value: "ref" },
        { label: "Online Blog", value: "blog" },
        { label: "Play store", value: "play-store" },
        { label: "Google search", value: "google-search" },
        { label: "Newspaper", value: "newspaper" },
        { label: "Referal", value: "ref" }
      ],

      // Validations
      requiredRules: [v => !!v || "This field is required"]
    };
  },
  methods: {
    signup() {
      if (this.valid) {
        this.$apollo
          .mutate({
            mutation: createUser,
            variables: {
              fullname: this.fullname,
              username: this.username,
              password: this.password,
              phone: this.phone,
              refCode: this.refCode,
              email: this.emailAddress,
              referralSource: this.referralSource
            }
            // update: (store, { data: { register } }) => {
            //   if (register.jwt) {
            //     localStorage.setItem("jwt", register.jwt);
            //     this.$router.push("/");
            //   }
            // }
          })
          .then(({ data: { register } }) => {
            this.$cookie.set("jwt", register.jwt);
            this.$cookie.set("userId", register.user.id);
            this.$router.push("/");
          })
          .catch(({ message }) => {
            console.log("SIGNUP_ERR", message);
            if (message.includes("400")) {
              this.$q.notify({
                color: "red",
                message: "Invalid request to the server, please see logs"
              });
            } else {
              this.$q.notify({
                color: "red",
                message: "You're simply not connected to an internet source"
              });
            }
          });
      }
    }
  }
};
</script>