<template>
  <q-page padding>
    <div>
      <div class="text-h5 text-bold">Hello, username</div>
      <span class="text-grey">Welcome back</span>
    </div>
    <br />
    <div class="pa-6">
      <div class="text-center mb-6">
        <q-date
          style="width:100%"
          flat
          class="bg-white list"
          title="John Doe"
          subtitle="Hi"
          v-model="date"
        />
      </div>
      <br />
      <Slider></Slider>
      <br />
      <TodoList></TodoList>
      <br />
      <Others></Others>
    </div>
  </q-page>
</template>

<script>
import TodoList from "components/TodoList";
import Slider from "components/Slider";
import Others from "components/Others";
export default {
  name: "PageIndex",
  components: {
    TodoList,
    Slider,
    Others
  },
  data() {
    return {
      date: Date.now(),
      items: [
        { content: "Total Savings", icon: "", title: "19,00" },
        { content: "Total Investments", icon: "", title: "23,829" },
        { content: "Total Earnings", icon: "", title: "228,99" }
      ]
    };
  }
};
</script>
