<template>
  <div class="pa-6">
    <q-page padding>
      <h3>Invest</h3>
      <q-card class="list">
        <q-card-section>
          <div class="text-subtitle2">Total Balance</div>
          <div class="text-h5 text-bold">{{ 12300 | currency }}</div>
        </q-card-section>
      </q-card>
    </q-page>
  </div>
</template>