<template>
  <div class="pa-6">
    <q-page padding>
      <div class="text-h3">Savings</div>
      <div>Let's see how well you're doing.</div>
      <br />
      <q-card class="list">
        <q-card-section>
          <div class="text-subtitle2">Total Balance</div>
          <br />
          <div class="text-h5 text-bold">{{ 12300 | currency }}</div>
        </q-card-section>
      </q-card>

      <br />

      <div class="row q-gutter-lg justify-center">
        <div class="list col-5" v-for="(service, i) in services" :key="i">
          <q-card flat>
            <q-card-section>
              <div class="text-subtitle2">{{ service.title }}</div>
            </q-card-section>
            <q-card-section class="text-bold">{{ service.amount | currency }}</q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </div>
</template>

<script>
export default {
  data() {
    return {
      services: [
        { title: "Sammy Vest", amount: "123" },
        { title: "Safe Lock", amount: "2673" },
        { title: "Budgets", amount: "987" }
      ]
    };
  }
};
</script>