<template>
  <div>
    <!-- ACCOUNT COMPLETION -->
    <div class="mt-5">
      <div class="text-h6">Activities</div>
      <br />
      <q-list class="q-gutter-md">
        <q-item
          style="height:80px"
          class="bg-white list"
          v-for="(item, i) in items"
          :key="i"
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-icon color="primary" :name="item.icon" />
          </q-item-section>
          <q-item-section>
            {{ item.title }}
            <q-item-label caption>{{ item.subtitle }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
    <!-- // ACCOUNT COMPLETION -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          title: "See your recent activities",
          subtitle: "See your most recent activities on PiggyVest",
          to: "",
          icon: "mdi-eye"
        },
        {
          title: "Speak with a human",
          icon: "mdi-account-cash",
          to: "",
          subtitle: "Avoid spending temptations. Tap to speak with a human"
        }
      ]
    };
  }
};
</script>