<template>
  <div>
    <!-- <q-list class="list"> -->
    <q-item
      style="height:90px"
      class="bg-white"
      v-for="(item, i) in items"
      :key="i"
      clickable
      v-ripple
    >
      <!-- <q-item-section top avatar>
        <q-avatar :icon="item.icon" />
      </q-item-section>-->
      <q-item-section>
        <q-item-label>{{ item.title }}</q-item-label>
        <q-item-label caption lines="2">{{ item.description }}</q-item-label>
      </q-item-section>
    </q-item>
    <!-- </q-list> -->
    <br />
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          icon: "",
          title: "My account settings",
          description: "Edit your profile details",
          to: ""
        },
        {
          icon: "",
          title: "Bank details",
          description: "Edit card and back details",
          to: ""
        },
        {
          icon: "",
          title: "Verify email",
          description: "Prove that you own your email",
          to: ""
        },
        {
          icon: "",
          title: "Add BVN",
          description: "Securely add a BVN",
          to: ""
        },
        {
          icon: "",
          title: "Refer & earn",
          description: "Refer & earn money",
          to: ""
        },
        {
          icon: "",
          title: "Withdraw Funds",
          description: "Cashout your funds",
          to: ""
        },
        {
          icon: "",
          title: "Contact Us",
          description: "Get help from a human",
          to: ""
        },
        {
          icon: "",
          title: "Logout",
          description: "logout from your devices",
          to: ""
        }
      ]
    };
  }
};
</script>