<template>
  <div>
    <!-- <hooper class="mr-3" :settings="hooperSettings" style="height: 130px">
    <slide v-for="(item, i) in items" :key="i">
    </slide>
    </hooper>-->
    <div class="row justify-center q-gutter-md">
      <div class="col-11" v-for="(item, i) in items" :key="i">
        <q-card class="list" flat>
          <q-card-section>
            <div class="row">
              <div class="col-4">
                <q-icon size="50px" class="text-grey" :name="item.icon" />
              </div>
              <div class="col-8">
                <div class="text-primary">{{ item.content }}</div>
                <br />
                <div class="text-h6">{{ item.title | currency }}</div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      items: [
        {
          content: "Total Savings",
          icon: "mdi-shield-outline",
          title: "19,00"
        },
        {
          content: "Total Investments",
          icon: "mdi-chart-bar",
          title: "23,829"
        },
        {
          content: "Total Earnings",
          icon: "mdi-account-cash-outline",
          title: "228,99"
        }
      ]
    };
  }
};
</script>

<style >
.hooper-slide {
  margin-right: 20px;
}
</style>