<template>
  <div>
    <!-- ACCOUNT COMPLETION -->
    <div class="mt-5">
      <div class="text-h6">Todo List</div>
      <br />
      <q-list class="q-gutter-md">
        <q-item
          style="height:80px"
          class="bg-white"
          v-for="(item, i) in items"
          :key="i"
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-icon color="primary" :name="item.icon" />
          </q-item-section>
          <q-item-section>
            {{ item.title }}
            <q-item-label caption>{{ item.subtitle }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
    <!-- // ACCOUNT COMPLETION -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          title: "Complete Your Payment info",
          subtitle: "This helps us credit your account you needed",
          to: "",
          icon: "mdi-pen-plus"
        },
        {
          title: "Verify your email Address",
          icon: "mdi-email-multiple",
          subtitle: "Be free from attackers, get daily alerts on the go",
          to: ""
        },
        {
          title: "Redeem your bonus",
          icon: "mdi-account-cash",
          to: "",
          subtitle: "Get your $100 bonus"
        }
      ]
    };
  }
};
</script>