// app global css in SCSS form
@font-face {
  font-family: "Josefin Sans";
  src: url("./fonts/JosefinSans-Regular.ttf");
}

$gradientFrom: #ffffff;
$gradientTo: #dfe3e6;

a {
  text-decoration: none;
}

.box {
  border-radius: 38px;
  background: linear-gradient(145deg, #ffffff, #dfdfdf);
  box-shadow: 30px 30px 68px #d7d7d7, -30px -30px 68px #ffffff;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  background: linear-gradient(145deg, #ffffff, #dfdfdf);
}

.nue {
  background: linear-gradient(145deg, #ffffff, #dfdfdf);
  box-shadow: 30px 30px 68px #d7d7d7, -30px -30px 68px #ffffff;
}

.list {
  border-radius: 6px;
  box-shadow: 30px 30px 68px #d7d7d7, -30px -30px 68px #ffffff;
}
