<template>
  <div class="pa-6">
    <q-page padding>
      <div class="text-h3">My Account</div>
      <div>John Doe</div>
      <br />
      <div class="text-center">
        <q-avatar size="100px" font-size="52px" color="teal" text-color="white" icon="mdi-account" />
        <h4>Jane Doe</h4>
      </div>

      <SettingsList></SettingsList>
      <br />
    </q-page>
  </div>
</template>

<script>
import SettingsList from "components/SettingsList";
export default {
  components: {
    SettingsList
  },
  data() {
    return {
      services: [
        { title: "Sammy Vest", amount: "123" },
        { title: "Safe Lock", amount: "2673" },
        { title: "Budgets", amount: "987" }
      ]
    };
  }
};
</script>