<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header class="transparent text-black">
      <q-toolbar>
        <q-toolbar-title>Dashboard</q-toolbar-title>
      </q-toolbar>
    </q-header>-->
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MyLayout",

  data() {
    return {
      leftDrawerOpen: false
    };
  }
};
</script>
<style >
.tab {
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}
</style>