<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="transparent text-black">
      <q-toolbar>
        <!-- <q-toolbar-title>Dashboard</q-toolbar-title> -->
      </q-toolbar>
    </q-header>
    <q-banner class="bg-red text-white">
      Unfortunately, the credit card did not go through, please try again.
      <template v-slot:action>
        <q-btn flat color="white" label="Dismiss" />
        <q-btn flat color="white" label="Update Credit Card" />
      </template>
    </q-banner>

    <q-footer reveal elevated>
      <q-tabs class="tab text-primary fixed-bottom bg-white" v-model="tab">
        <q-tab class="text-capitalize" name="home" icon="mdi-home" label="Home" />
        <q-tab class="text-capitalize" name="savings" icon="mdi-hexagon-multiple" label="Savings" />
        <!-- <q-tab class="text-capitalize" name="invest" icon="mdi-piggy-bank" label="Invest" /> -->
        <q-tab class="text-capitalize" name="account" icon="mdi-account" label="Account" />
      </q-tabs>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MyLayout",

  data() {
    return {
      tab: "mails",
      leftDrawerOpen: false
    };
  },
  methods: {
    navigate(where) {
      if (where) this.$router.push(`/${where}`);
    }
  },
  watch: {
    tab(val) {
      switch (val) {
        case "home":
          this.navigate("?");
          break;
        case "savings":
          this.navigate("savings");
          break;
        case "invest":
          this.navigate("invest");
          break;
        case "account":
          this.navigate("account");
          break;
        default:
          break;
      }
      console.log(`Went to ${val}`);
    }
  }
};
</script>
<style >
.tab {
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}
</style>